@import '../mixins';
@import '../fonts';
@import '../variables';

.card{
    width: 100%;
    background: white;
    padding: 15px;
    border-radius: 15px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));

    .title{
        padding-bottom: 5px;
        border-bottom: solid 1px gainsboro;
        margin-bottom: 10px;
        font-family: $Anton;
    }

    .comment{
        padding: 10px;
        
        .author{
            font-weight: 700;
        }
    }

}